.faq{
    color: #ffd1dc;
    font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 4em;
    margin-bottom: 5px;
    margin-top: 2px;

    text-shadow: 3px 3px 3px #470f6d;

    object-fit: cover;
    animation: float 4s ease-out infinite;
}

@keyframes float {
    50%{
        transform: translateY(5px);

    }

}
.faq h4 {
    border-bottom: 1px solid #dedede;
    padding: 10px 0;

}


.block1{
    flex: 0 0 50%;
    max-width: 80%;
}
.block1 h4{
    font-size: 30px;
    margin-bottom: 0;
    color: #383b57;


}
.block1 p {
    font-family: source sans pro, sans-serif;
    color: black;
    font-size: 20px;


}