@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background: linear-gradient(to bottom right, #4709f3, #470f6d);
    padding: 20px 0 40px;
    height: 25px;
    overflow: hidden;
}

header nav ul h1 {
    display: flex;
    color: white;
    position: absolute;
    left: 0;
    padding: 0 30px;
    font-family: 'Tilt Warp', cursive;
}

header nav ul {
    color: white;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 30px 0 0;
    font-family: 'Rubik', sans-serif;
}

header nav ul li a:hover {
    font-weight: bold;
}

header nav ul input {
    border-radius: 20px;
    border-style: solid;
    position: relative;
    right: 10vw;
    width: 25vw;
    height: 30px;
    padding: 2px 10px;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #4709f3, #470f6d);
    height: 12vh;
}

footer p {
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}

main {
    background: linear-gradient(to bottom right, #dde3eb, #313131);
    min-height: calc(100vh - 87px);
}

.container {
    padding: 2px 16px;
}

.firstcard {
    background: linear-gradient(to bottom right, #4709f3, #470f6d);
    border-radius: 20px;
    margin: 20px;
    border: 1px solid #000;
  
}

.card-items {
    display: inline-flex;
    background-color: white;;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.card-items img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.card-items:hover {
    transform: scale(1.05);
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.sliderimg {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.salem{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 2.5cm;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    background-color: #3e4684;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #383b57;
}